
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/* navbar.css */



.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: #333; /* Fondo gris oscuro */
   background-image: url('../../../../public/fondo.jpg');
   padding-right: 20px;
   padding-top: 10px;
   
   
}

.imagen-logo {
  height: 210px;
  width: 250px;
}

.lista-categorias {
  display: flex;
  gap: 15px;
}

.nav-button {
  font-family: 'Poppins', sans-serif; /* Nueva fuente */
  font-size: 1rem;
  text-transform: none !important; /* Evita que el texto se muestre en mayúsculas */
  color: #27ae60 !important;
  /*background-color: transparent;*/
  border: 1px solid #27ae60 !important;
  padding: 5px 15px;
  border-radius: 20px;
  /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

.nav-button:hover {
  background-color: #fff; /* Fondo blanco al pasar el mouse */
  color: #333; /* Texto en gris oscuro al pasar el mouse */
}
