.container-navbar {

    display: flex;
    justify-content: space-between;
    background-color: #6b7cdb; /* Color de fondo personalizado */
    align-items: center;
    padding: 50px;
    
}

.imagen-logo{

    height: 150px;
    width: 150px;
   
}