/* Estilos generales para el contenedor del navbar */
.container-navbar {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  padding: 10px 20px; /* Espaciado interno */
  background-color: #1e9d5b; /* Fondo oscuro para el navbar */
  color: #fff; /* Color de texto blanco */
  margin-bottom: 20px;
}

/* Estilo para la imagen del logo */
.imagen-logo {
  width: 180px; /* Ajusta el tamaño del logo */
  height: 180px; /* Mantiene la proporción de la imagen */
  /*border-radius: 50%;  Da un efecto de borde redondeado (opcional) */
}

/* Estilos para la lista de categorías */
.lista-categorias {
  list-style: none; /* Elimina los puntos de lista predeterminados */
  display: flex; /* Alinea los elementos en fila */
  gap: 20px; /* Espaciado entre los elementos de la lista */
  margin: 0;
  padding: 0;
}

/* Estilos para cada item de la lista */
.lista-categorias li a {
  color: #fff; /* Color blanco para los enlaces */
  text-decoration: none; /* Sin subrayado */
  font-size: 18px; /* Tamaño de texto */
  padding: 10px 15px; /* Espaciado interno para los enlaces */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Efecto hover en los enlaces */
.lista-categorias li a:hover {
  background-color: #555; /* Fondo gris oscuro al pasar el cursor */
  border-radius: 5px; /* Bordes redondeados */
}
