.container-footer{

    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height:50vh;       
  background-color: lightgreen;
  margin-top: 20px;


}